/** Style updates / fixes **/

/*Admin menu*/
.col-md-5 h2.main_title {
  padding-left: 10px !important;
}
.download-queue {
  background-color: rgba(255,255,255,0.2) !important;
}
.nd-region.jl_top_header {
  padding: 0 !important;
}
h2.log_title {
  text-align: right;
  font-size: 13px !important;
}
h2.log_title {
  text-align: right;
  font-size: 13px !important;
}
div#user_box > div:nth-child(3) {
  width: auto !important;
  margin-left: 6px;
}
.user_btn_left {
  margin-right: -6px;
}
div#user_box {
  left: auto !important;
  right: 10px !important;
  top: 30px !important;
}
body .center_body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
div#block-menu-block-1 {
  margin-top: 8px;
}
div#block-menu-block-1 > a {
  display: none;
}
div#block-menu-block-1 ul.menu li {
  background: #946947;
  padding: 2px 40px;
  margin: 2px 0;
  clear: both;
  float: none !important;
  width: 100% !important;
}
div#block-menu-block-1 ul.menu li a {
  color: white;
  font-family: initial;
  letter-spacing: 1px;
}
div#block-menu-block-1 > h5,
div#block-menu-block-1 .thin-separator-line {
  display: none;
}
div#content div.node-page .field-name-body {
  display: none;
}
li.expanded ul {
  display: block;
  padding: 0;
  margin: 0 -40px;
  margin-bottom: -2px;
}
li.expanded.clicked {
  background: gray !important;
}
li.expanded.clicked ul li {
  padding: 2px 55px !important;
  background: white !important;
  margin: 0 !important;
  border-top: 2px solid #946947;
}
li.expanded.clicked ul li:last-child {
  border-bottom: 2px solid #946947;
}
ul li.active-trail {
  background: white !important;
}
ul li.active-trail a {
  color: #946947 !important;
  font-weight: bold;
}
li.expanded.clicked ul li a {
  color: black !important;
}
ul.menu li:hover {
  background: gray !important;
  cursor: pointer;
}
ul.menu li:hover a {
  color: white !important;
}
li.expanded:hover a {
  color: black !important;
}
li.expanded.clicked {
  background: gray !important;
}
li.expanded.clicked:hover > a {
  color: white !important;
}
div#block-menu-block-1 ul.menu li.expanded:before {
  background-image: url(../images/sidebar_logo.png);
  content: " ";
  position: absolute;
  left: 15px;
  width: 19px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  height: 20px;
  margin-top: 2px;
}

div#Content div#content.col-md-6 {
  display: block;
  padding: 0px;
  background: transparent;
}
div#block-block-46 {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 8px;
}
form#views-form-jl-shop-cart-view-block div#edit-actions {
  display: none;
}
.views-row > div {
  font-family: initial;
  width: 100%;
  color: white;
  text-transform: uppercase;
  margin-top: -5px;
}
.views-row > div:first-child {
  margin-top: 0px;
}
.views-row > div:nth-child(3) {
  margin-bottom: 10px;
}
.views-row > div:last-child {
  position: absolute !important;
  right: 10px;
  top: 3px;
  width: auto !important;
  margin-top: 0px !important;
  left: auto !important;
}
.views-row {display: block;position: relative;width: 100%;}

div#content div.node-page {
  background: rgba(255,255,255,0.5);
  display: block;
  padding: 15px;
  position: absolute;
  width: 100%;
  max-width: 100%;
}
div#content div.node-page #block-views-jl-grid-videos-block {
  background: transparent;
}
div#content div.node-page .row > .col-md-3 {
  width: 30% !important;
  margin-left: 12px;
}
div#content div.node-page:before {
  display: table !important;
}

/*Removing unwanted elements on logint page*/
.front div#Content div#content {
  background: transparent;
}
.front #sidebar, .front div#block-block-46, .front div#block-block-41 {
  display: none;
}
.front #user-login  input[type='submit'] {
  font-size: 20px;
  font-family: initial;
}
.front a[href="/user/password"] {
  font-size: 13px;
  font-family: initial;
  margin-top: -15px;
}
.front a[href="/user/password"]:hover {
  text-decoration: underline;
}
